/*style.css*/
* 
{
	/*box-sizing:border-box;
	border: 1px solid red;*/
}

body
{
	background-color: #CCC;
}

img
{
	width: 256px;
	height: 256px;
}
.container
{

}

.counter
{
	background-size: contain;
	background-repeat: no-repeat;
	max-height: 323px;
	position: relative;
}

.counter h2
{
	color: blue;
}

.counter img
{
 z-index: -1;
}
.counter p
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 256px;
	margin-bottom: 0px;
}

