/*style.css*/
* 
{
	box-sizing:border-box;
	border: 1px solid red;
}

body
{
	background-color: #CCC;
}

img
{

}

li
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container
{

}

#counter
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-bottom: 0px;
}

/*.catlist{
	float: right;
}

.viewer{
	float: left;
}*/

.catItem{
	max-width: 100%;
	max-height: 100%;
}

.catItem img{
	max-width: 256px;
	max-height: 256px;
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.viewer{
	position: relative;
}

.viewer h2
{
	color: blue;
	text-align: center;
}

.viewer img
{
 	height: 200px;
 	width: 200px;
 	z-index: -1;
 	max-width: 100%;
 	max-height: 100%;
 	margin-left: auto;
 	margin-right: auto;
 	display: block;
}
